.credit {
   display: none;
  // padding-top: 32px;
  // padding-bottom: 32px;
  // margin-bottom: 32px;
  // background: #FFFFFF;
  // box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);

  &__container {

    // padding-bottom: 32px;
    // margin: 0;
    // padding: 0 16px;
    @media (min-width:($min-width-tablet+60px)) {
      display: grid;
      grid-template-columns: 524/1280*100% 1fr;
      column-gap: 56px;
    }
  }

  &__wrapper-conditions {

    display: grid;
    row-gap: 16px;
    padding-bottom: 32px;
    padding-top: 24px;

    @media (min-width:($min-width-tablet+60px)) {
      display: grid;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    @media (min-width:($min-width-desktop+90px)) {
      padding: 32px 0;
      row-gap: 32px;
    }
  }

  &__container>*:last-child {
    margin-bottom: 0px;
  }

  &__wrapper-img {
    margin-left: -16px;
    margin-right: -16px;

    // margin-bottom: 8px;
    @media (min-width:($min-width-tablet+60px)) {
      margin-left: 0px;
      margin-right: 0px;
      // align-self: center;
      height: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (min-width:($min-width-tablet+60px)) {
      // object-fit: contain;
    }

    @media (min-width:($min-width-desktop+90px)) {
      // object-fit: cover;
      // width: none;
    }

  }

  &__h2 {
    margin: 0;
    //
    // padding: 24px 0 12px 0;
    margin-bottom: 8px;

    @media (min-width:($min-width-tablet+60px)) {
      font-size: 16px;
      margin-bottom: 0px;
    }

    @media (min-width:($min-width-desktop+90px)) {
      font-size: 32px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    // padding: 12px 0 12px 0;
    line-height: 140%;
    margin-bottom: 8px;
    display: grid;
    row-gap: 6px;

    @media (min-width:($min-width-tablet+60px)) {
      margin-bottom: 0;
    }

    @media (min-width:($min-width-desktop+90px)) {
      font-size: 16px;
    }
  }


  &__item {
    display: flex;
    align-items: center;
  }

  // &__item:not(:last-child) {
  //   margin-bottom: 6px;
  // }

  &__icons-arrow-credit {
    margin-right: 8px;
  }

  &__form {
    // padding: 12px 0 16px;
    display: grid;
    row-gap: 16px;
  }

  &__wrapper-send {
    display: grid;
    row-gap: 16px;

    @media (min-width:($min-width-desktop+90px)) {
      display: flex;
      column-gap: 8px;
    }
  }

  &__input-name {
    @media (min-width:($min-width-tablet+60px)) {
      min-height: 36px;
    }
  }

  &__input-tel {
    @media (min-width:($min-width-tablet+60px)) {
      min-height: 36px;
    }
  }

  &__wrapper-check-tablet {
    display: none;

    @media (min-width:($min-width-tablet+60px)) {
      display: block;
    }
  }

  &__wrapper-check-mobile {
    @media (min-width:($min-width-tablet+60px)) {
      display: none;
    }
  }

  &__button {
    width: 100%;
    min-height: 52px;
    border: none;
    outline: none;
    // order: 1;

    @media (min-width:($min-width-tablet+60px)) {
      min-height: 36px;

      // order: 0;
      @media (min-width:($min-width-desktop+90px)) {}

      font-size: 12px;
    }
  }

  &__notes {
    // order: 2;
  }
}
