.servis-add {
  padding: 16px;
}

.servis-add__h2 {}

.visually-hidden {}

.servis-add__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: calc(8/(375-32)*100%);


}

.container {}

.servis-add__item {}

.servis-add__img {}

.servis-add__h3 {}

.servis-add__text {}

.servis-add__link {}
