.header {
  // background-color: red;
  min-height: 74px;
}

.header__container {
  min-width: $min-width-modile;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {}

.header__logo {
  // flex-grow: 2;
  text-decoration: none;
  display: flex;
  text-decoration: none;
  max-width: 110px;
  justify-content: center;
}

.logo {}

.logo__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contein;
}

.header__address {
  line-height: 140%;
  font-weight: 300;
  max-width: 196px;
  display: none;
}

.header__address::before {
  content: "";
  width: 14px;
  height: 16px;
  display: block;
  background-image: url(../img/icons/mark-address.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.address {}

.header__regime {
  line-height: 140%;
  font-weight: 300;
  max-width: 190px;
  display: none;
}

.header__regime::before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url(../img/icons/mark-regime.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.regime {}

.header__phone {
  font-size: 14px;
  line-height: 140%;
  // justify-self: end;
  margin-left: 40px;
}

.phone {}

.header__button {
  display: inline-flex;
  box-sizing: border-box;
  text-decoration: none;
  padding: 5px 10px;
  width: 194px;
  height: 52px;
  background: #4DA82F;
  border-radius: 50px;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  // justify-self: end;
}

.header__button::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-image: url(../img/icons/phone.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.header__text-button {
  display: none;
}

.button {}

@media (min-width: $width-mobile-tablet) {
  .header__container {
    padding: 0px 30px;
  }

  .header__address {
    font-size: 12px;
    display: flex;
    max-width: 176px;
  }

  .header__regime {
    font-size: 12px;
    display: flex;
    max-width: 170px;
  }

  .header__phone {
    font-size: 14px;

  }

  .header__button {
    min-width: 150px;
    height: 52px;
    // justify-self: end;
  }

  .header__button::before {
    display: none;
  }

  .header__text-button {
    display: inline;
  }
}

@media (min-width: $max-mobile-tablet) {
  .header__container {
    padding: 0 50px;
  }
}
