.button {
  display: inline-flex;
  box-sizing: border-box;
  text-decoration: none;
  padding: 5px 10px;
  width: 194px;
  min-height: 52px;
  background: #4DA82F;
  border-radius: 50px;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
}
