$tablet: "min-width: 768px";
$desktop: "min-width: 1200px";

.container-test {

  height: 130px;
  background-color: aqua;

  max-width: 704px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @media ($tablet) {
    max-width: 1104px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media ($desktop) {
    padding-right: 32px;
    padding-left: 32px;
  }
}
