.contacts {

}










.button {}

.contacts__text-button {}

@media (min-width: ($min-width-tablet+60px)) {
  .contacts__address {
    display: flex;
  }

  .contacts__regime {
    display: flex;
  }

  .contacts__phone {
    margin-left: 0px;
  }

  .contacts__button {
    width: 150px;
    min-height: 44px;
  }

  .contacts__button::before {
    display: none;
  }

  .contacts__text-button {
    display: inline;
  }
}

@media (min-width: ($min-width-desktop+100px)) {
  .container {
    padding: 0px 50px;
  }

  .contacts__phone {
    font-size: 24px;
  }
}

@media (min-width: ($max-width-desktop+100px)) {
  .container {
    padding: 0px 0px;
    max-width: $max-width-desktop;
  }

}
