.container {
  min-width: $min-width-mobile+32px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 16px;
}

@media (min-width: ($min-width-tablet+60px)) {
  .container {
    // padding: 0px 30px;
    padding: 0 30px;
  }
}

@media (min-width: ($min-width-desktop+90px)) {
  .container {
    // padding: 0px 50px;
    padding: 0 45px;
  }
}

@media (min-width: ($max-width-desktop+90px)) {
  .container {
    // padding: 0px 0px;
    max-width: $max-width-desktop+90;
  }

}
