.container {
  min-width: $min-width-mobile;
  // margin: 0 auto;
  // box-sizing: border-box;
  // margin: 0 16px;
}

@media (min-width: ($min-width-mobile)) {
  .container {
    // padding: 0px 30px;
    max-width: $min-width-mobile;
    margin: 0 auto;
  }
}

@media (min-width: ($min-width-mobile+32px)) {
  .container {
    // padding: 0px 30px;
    max-width: none;
    margin: 0 16px;
  }
}

@media (min-width: ($min-width-tablet+60px)) {
  .container {
    // padding: 0px 30px;
    margin: 0 30px;
  }
}

@media (min-width: ($min-width-desktop+90px)) {
  .container {
    // padding: 0px 50px;
    margin: 0 45px;
  }
}

@media (min-width: ($max-width-desktop+90px)) {
  .container {
    // padding: 0px 0px;
    margin: 0 0px;
    max-width: $max-width-desktop;
    margin: 0 auto;
  }

}
