.logo {
  display: flex;
  text-decoration: none;
  width: 110px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  // flex-grow: 1;
  cursor: pointer;
}

.logo-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contein;
}
